
body {
  font-family: "Helvetica", sans-serif;
}

 #container {
  width: 700px;
  margin: 0 auto;    /* center container on page */
}

.card {
  display: inline-block;
  width: 160px;
  height: 160px;
  margin: 4px;

  transform-style: preserve-3d;

   /* animate rotate 180deg, that is, transform transitations */
  transition: transform 1s;

  /* perspective: 800px; -- use why? why not? */
}



.card-back,
.card-front {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  /* note: incl. margin+border in 100% calc - default is content-box */
  box-sizing: border-box;
  backface-visibility: hidden;

  border-radius: 10px;

  padding-top: 20px;
  text-align: center;
  font-size: 84px;
}

.card-front {
  border: 2px solid grey;
  transform: rotateY( 180deg );
}

.card-front .hint {
 font-size: 20px;
}

.card-back {
 background-image: linear-gradient(silver,grey);
}

.card-back:hover {
box-shadow: 0px 0px 20px gold;
cursor: pointer;
transition: box-shadow 0.25s;   /* move prop to .card-back - why? why not? */
}

.card-front:hover {
box-shadow: 0px 0px 20px aqua;
cursor: pointer;
transition: box-shadow 0.25s;
}


.card.flipped {
  transform: rotateY( 180deg );
}



/*******************
   extras
     add shake for matched
     add matching (background) colors for matching pairs
 *************************************************/

 @keyframes shake {
   0%   { transform: rotate(0deg); }
   20%   { transform: rotate(5deg); }
   40%   { transform: rotate(-5deg); }
   60%   { transform: rotate(5deg); }
   80%   { transform: rotate(-5deg); }
   100% { transform: rotate(0deg); }
 }

.card.matched {
   animation-name: shake;
   animation-duration: .3s;
 }


/*
.card-front1 {
  background: linear-gradient( red, maroon);
}
.card-front2 {
  background: linear-gradient( violet, darkviolet);
}
.card-front3 {
  background: linear-gradient( yellow, orange);
}
.card-front4 {
  background: linear-gradient( lime, green);
}
.card-front5 {
  background: linear-gradient( orange, darkorange);
}
.card-front6 {
  background: linear-gradient( aqua, darkturquoise);
}
.card-front7 {
  background: linear-gradient( blue, darkblue);
}
.card-front8 {
  background: linear-gradient( fuchsia, purple);
}

*/
